<!DOCTYPE html> {% load extras %} {% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
</head>

<body style="background:#EBEFF1;">
    <button onclick="topFunction()" id="myBtn" type="button" class="btn btn-default btn-circle btn-xl"><span class="glyphicon glyphicon-chevron-up"></span></button>
    <div class="navbar navbar-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="">News From Everywhere</a>
        </div>
        <ul class="nav navbar-nav navbar-right" id="nav">
            <li><a href="{% url 'latest_stories' %}">Latest Stories</a></li>
            <li><a href="{% url 'top_stories' %}">Top Stories</a></li>
            <li><a href="{% url 'india' %}">India</a></li>
            <li><a href="{% url 'world' %}">World</a></li>
            <li><a href="{% url 'business' %}">Business</a></li>
            <li><a href="{% url 'cricket' %}">Cricket</a></li>
            <li><a href="{% url 'tech' %}">Tech</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="container">
                <div class="grid ">
                    {% if news_list %}
                    {% for news in news_list|return_item_list %}
                        <a href="{{ news.link }} " target="_blank ">
                            <div class="col-sm-3 card grid-item " style="width:246px ">
                                <div class="row card-img ">
                                    <img class="img-responsive card-img " src="{{ news.storyimage }} ">
                                </div>
                                <div class="card-info ">
                                    <div class="row card-title ">{{ news.title }}</div>
                                    <p><div class="row card-time ">{{ news.updatedat }}</div></p>
                                    <p><div class="row card-content ">{{ news.summary }}</div></p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    {% else %}
                        <p>Nothing</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript ">
        $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: 140
        });
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    </body>
</html>