{% extends 'news/base_index.html' %}
{% load staticfiles %}

{% block title %}
    News | {{ title }}
{% endblock title %}

{% block style %}
    .news_tile{
        height: 265.41px;
        width: 181.88px;
    }
    .feature_news_item {
        background: #fff;
        text-align: center;
        margin: 15px 0;
    }
    .news_tile {
        height: 265.41px;
        width: 181.88px;
    }
    .item_wrapper {
        position: relative;
    }
    .item_img img {
        margin: 0 auto;
        border-bottom: 1px solid #fff;
    }
    .item_content {
        padding: 5px 3% 10px;
    }
{% endblock style %}

{% block news_area %}

    <div class="col-md-9">
        {% if news_list %}
            {% for news_item in news_list.entries %}
                <div class="col-md-3">
                    <div class="feature_news_item">
                        <div class="item news_tile">
                            <div class="item_wrapper">
                                <div class="item_img">
                                    {% block news_image %}
                                        <img class="img-responsive" src="{{ news_item.storyimage }}">
                                    {% endblock news_image %}
                                </div>
                            </div>
                            <!--item_wrapper-->
                            {% block news_title %}
                                <div class="item_content">
                                    <h6>
                                        <a href="{{ news_item.link }}" target="_blank">
                                            <h5>{{ news_item.title }}</h5>
                                        </a>
                                    </h6>
                                </div>
                            {% endblock news_title %}
                        </div>
                        <!--item-->
                    </div>
                    <!--feature_news_item-->
                </div>
                <!--col-md-6-->
            {% endfor %}
        {% else %}
            <script>
                document.location.href = {% url 'latest_stories' %}
            </script>
        {% endif %}
    </div>
{% endblock news_area %}
